body {
    background-image: url("Invoice_G\back.jpg");
    height: 100hv;
    width: 100%;
}

login {
    margin-top: 50px;
    margin-left: 100px;
    backface-visibility: visible;
    border-radius: 10px;
    border: 5px #1e6e6f solid;
}

login input{
    height: 30px;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}